In [24]:
import pandas as pd
import numpy as np
import altair as alt
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
important_cols = ['respondent_id', 'agency_abbr', 'loan_type_name', 'property_type_name',
       'loan_purpose_name', 'owner_occupancy_name', 'loan_amount_000s',
       'preapproval_name', 'action_taken_name', 'msamd_name', 'state_abbr',
       'county_name', 'census_tract_number', 'applicant_ethnicity_name',
       'co_applicant_ethnicity_name', 'applicant_race_name_1',
       'applicant_race_name_2', 'applicant_race_name_3',
       'applicant_race_name_4', 'applicant_race_name_5',
       'co_applicant_race_name_1', 'co_applicant_race_name_2',
       'co_applicant_race_name_3', 'co_applicant_race_name_4',
       'co_applicant_race_name_5', 'applicant_sex_name',
       'co_applicant_sex_name', 'applicant_income_000s', 'purchaser_type_name',
       'denial_reason_name_1', 'denial_reason_name_2', 'denial_reason_name_3',
       'rate_spread', 'hoepa_status_name', 'lien_status_name', 'population',
       'minority_population', 'hud_median_family_income',
       'tract_to_msamd_income', 'number_of_owner_occupied_units',
       'number_of_1_to_4_family_units']
df_2017 = pd.read_csv('data\hmda_2017_nationwide_all-records_labels.csv',usecols = important_cols, skiprows = lambda x : x/10 != int(x/10), nrows = 10000)
df_2017['denied'] = df_2017[['denial_reason_name_1']].applymap(lambda x : 1 if x==x else 0)
df_2017.head()

C:\Users\maxym\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (34,44) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,respondent_id,agency_abbr,loan_type_name,property_type_name,loan_purpose_name,owner_occupancy_name,loan_amount_000s,preapproval_name,action_taken_name,msamd_name,...,rate_spread,hoepa_status_name,lien_status_name,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,denied
0,0000058243,FRS,Conventional,One-to-four family dwelling (other than manufa...,Refinancing,Not owner-occupied as a principal dwelling,94.0,Not applicable,Loan originated,"Lake County, Kenosha County - IL, WI",...,NaN,Not a HOEPA loan,Secured by a first lien,3779.0,15.370000,91600.0,71.129997,1019.0,1465.0,0
1,43-1965151,HUD,VA-guaranteed,One-to-four family dwelling (other than manufa...,Refinancing,Owner-occupied as a principal dwelling,107.0,Not applicable,Application denied by financial institution,"Scranton, Wilkes-Barre, Hazleton - PA",...,NaN,Not a HOEPA loan,Secured by a first lien,3382.0,20.280001,59500.0,93.230003,1016.0,1389.0,0
2,33-0975529,HUD,FHA-insured,One-to-four family dwelling (other than manufa...,Home purchase,Owner-occupied as a principal dwelling,82.0,Preapproval was not requested,Loan originated,NaN,...,2.08,Not a HOEPA loan,Secured by a first lien,3524.0,10.530000,62600.0,103.230003,1274.0,1857.0,0
3,0001189117,CFPB,Conventional,One-to-four family dwelling (other than manufa...,Refinancing,Owner-occupied as a principal dwelling,158.0,Not applicable,Loan originated,"Charlotte, Concord, Gastonia - NC, SC",...,NaN,Not a HOEPA loan,Secured by a first lien,8167.0,18.980000,67700.0,157.039993,2619.0,2860.0,0
4,75-2921540,HUD,Conventional,One-to-four family dwelling (other than manufa...,Refinancing,Owner-occupied as a principal dwelling,128.0,Not applicable,Application withdrawn by applicant,"Allentown, Bethlehem, Easton - PA, NJ",...,NaN,Not a HOEPA loan,Secured by a first lien,3870.0,17.520000,75200.0,92.059998,997.0,1460.0,0

In [18]:
cols_to_remove = ['as_of_year','agency_name','agency_code','loan_type',
'property_type', 'loan_purpose','owner_occupancy','preapproval',
'action_taken','msamd','state_name','state_code','county_code', 'applicant_ethnicity',
'co_applicant_ethnicity','applicant_race_1','applicant_race_2','applicant_race_3','applicant_race_4',
'applicant_race_5','co_applicant_race_1','co_applicant_race_2','co_applicant_race_3',
'co_applicant_race_4','co_applicant_race_5','applicant_sex','co_applicant_sex','purchaser_type','denial_reason_1',
'denial_reason_2','denial_reason_3','hoepa_status','lien_status','edit_status']

cleaned_2017_df = df_2017.drop(columns = cols_to_remove,axis = 1)
cleaned_2017_df.columns

Index(['respondent_id', 'agency_abbr', 'loan_type_name', 'property_type_name',
       'loan_purpose_name', 'owner_occupancy_name', 'loan_amount_000s',
       'preapproval_name', 'action_taken_name', 'msamd_name', 'state_abbr',
       'county_name', 'census_tract_number', 'applicant_ethnicity_name',
       'co_applicant_ethnicity_name', 'applicant_race_name_1',
       'applicant_race_name_2', 'applicant_race_name_3',
       'applicant_race_name_4', 'applicant_race_name_5',
       'co_applicant_race_name_1', 'co_applicant_race_name_2',
       'co_applicant_race_name_3', 'co_applicant_race_name_4',
       'co_applicant_race_name_5', 'applicant_sex_name',
       'co_applicant_sex_name', 'applicant_income_000s', 'purchaser_type_name',
       'denial_reason_name_1', 'denial_reason_name_2', 'denial_reason_name_3',
       'rate_spread', 'hoepa_status_name', 'lien_status_name',
       'edit_status_name', 'sequence_number', 'population',
       'minority_population', 'hud_median_family_income',
       'tract_to_msamd_income', 'number_of_owner_occupied_units',
       'number_of_1_to_4_family_units', 'application_date_indicator'],
      dtype='object')

In [49]:
# Summary of all quantitative fields
df_2017.describe()

,loan_amount_000s,census_tract_number,applicant_race_name_4,applicant_race_name_5,co_applicant_race_name_4,co_applicant_race_name_5,applicant_income_000s,rate_spread,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,denied
count,9995.000000,9938.000000,0.0,0.0,0.0,0.0,8710.000000,325.000000,9938.000000,9938.000000,9938.000000,9938.000000,9938.000000,9938.000000,10000.000000
mean,221.968584,1993.019539,NaN,NaN,NaN,NaN,126.450976,2.483046,5457.549708,30.597363,69696.568726,110.150049,1389.350574,1899.346347,0.106400
std,372.120363,3067.413097,NaN,NaN,NaN,NaN,1885.407407,1.499543,2681.011649,27.690919,13416.131806,38.526337,729.374781,897.348692,0.308364
min,1.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,1.500000,0.000000,0.000000,37900.000000,0.000000,0.000000,0.000000,0.000000
25%,103.000000,96.100000,NaN,NaN,NaN,NaN,50.000000,1.660000,3722.250000,8.500000,62100.000000,86.430000,909.000000,1335.000000,0.000000
50%,174.000000,286.000000,NaN,NaN,NaN,NaN,76.000000,1.880000,5074.000000,19.879999,67900.000000,105.459999,1295.500000,1766.000000,0.000000
75%,272.000000,2412.500000,NaN,NaN,NaN,NaN,120.000000,2.430000,6694.000000,45.020000,75200.000000,129.520004,1751.000000,2322.000000,0.000000
max,20000.000000,9801.000000,NaN,NaN,NaN,NaN,175000.000000,12.310000,33655.000000,100.000000,114200.000000,351.369995,8042.000000,9299.000000,1.000000

In [37]:
# Null values for every field
df_2017.isnull().sum(axis = 0)

respondent_id                         0
agency_abbr                           0
loan_type_name                        0
property_type_name                    0
loan_purpose_name                     0
owner_occupancy_name                  0
loan_amount_000s                      5
preapproval_name                      0
action_taken_name                     0
msamd_name                         1214
state_abbr                            2
county_name                          42
census_tract_number                  62
applicant_ethnicity_name              0
co_applicant_ethnicity_name           0
applicant_race_name_1                 0
applicant_race_name_2              9949
applicant_race_name_3              9998
applicant_race_name_4             10000
applicant_race_name_5             10000
co_applicant_race_name_1              0
co_applicant_race_name_2           9971
co_applicant_race_name_3           9998
co_applicant_race_name_4          10000
co_applicant_race_name_5          10000
applicant_sex_name                    0
co_applicant_sex_name                 0
applicant_income_000s              1290
purchaser_type_name                   0
denial_reason_name_1               8936
denial_reason_name_2               9795
denial_reason_name_3               9964
rate_spread                        9675
hoepa_status_name                     0
lien_status_name                      0
population                           62
minority_population                  62
hud_median_family_income             62
tract_to_msamd_income                62
number_of_owner_occupied_units       62
number_of_1_to_4_family_units        62
dtype: int64

In [50]:
df_2017.groupby(['applicant_race_name_1']).mean()

,loan_amount_000s,census_tract_number,applicant_race_name_4,applicant_race_name_5,co_applicant_race_name_4,co_applicant_race_name_5,applicant_income_000s,rate_spread,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,denied
applicant_race_name_1,,,,,,,,,,,,,,,
American Indian or Alaska Native,172.761905,1963.995000,NaN,NaN,NaN,NaN,81.413793,2.540000,5453.516667,30.968334,66645.000000,108.298000,1438.066667,2052.783333,0.158730
Asian,348.843243,1218.258962,NaN,NaN,NaN,NaN,122.920455,2.635000,5770.183060,51.361339,74740.983607,117.732240,1271.734973,1675.434426,0.108108
Black or African American,195.260618,1738.969183,NaN,NaN,NaN,NaN,96.327122,2.138800,5407.616732,58.188872,72180.933852,94.975467,1237.964981,1765.284047,0.181118
"Information not provided by applicant in mail, Internet, or telephone application",238.255673,2020.222615,NaN,NaN,NaN,NaN,111.004906,2.118333,5723.697853,32.270015,71895.782209,110.904003,1431.379601,1938.368865,0.156463
Native Hawaiian or Other Pacific Islander,241.178571,1533.411786,NaN,NaN,NaN,NaN,96.480000,1.530000,6126.303571,46.253393,75346.428571,102.970179,1437.232143,1897.625000,0.142857
Not applicable,283.799020,1894.028971,NaN,NaN,NaN,NaN,88.757962,NaN,5434.703922,34.914265,69792.843137,104.553020,1312.607843,1827.063725,0.005882
White,204.562143,2069.647120,NaN,NaN,NaN,NaN,133.451386,2.556395,5389.595497,26.175328,68756.331218,111.700920,1410.312632,1924.216833,0.105129