In [24]:
import pandas as pd
import numpy as np
import altair as alt
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
important_cols = ['respondent_id', 'agency_abbr', 'loan_type_name', 'property_type_name',
       'loan_purpose_name', 'owner_occupancy_name', 'loan_amount_000s',
       'preapproval_name', 'action_taken_name', 'msamd_name', 'state_abbr',
       'county_name', 'census_tract_number', 'applicant_ethnicity_name',
       'co_applicant_ethnicity_name', 'applicant_race_name_1',
       'applicant_race_name_2', 'applicant_race_name_3',
       'applicant_race_name_4', 'applicant_race_name_5',
       'co_applicant_race_name_1', 'co_applicant_race_name_2',
       'co_applicant_race_name_3', 'co_applicant_race_name_4',
       'co_applicant_race_name_5', 'applicant_sex_name',
       'co_applicant_sex_name', 'applicant_income_000s', 'purchaser_type_name',
       'denial_reason_name_1', 'denial_reason_name_2', 'denial_reason_name_3',
       'rate_spread', 'hoepa_status_name', 'lien_status_name',
       'edit_status_name', 'sequence_number', 'population',
       'minority_population', 'hud_median_family_income',
       'tract_to_msamd_income', 'number_of_owner_occupied_units',
       'number_of_1_to_4_family_units', 'application_date_indicator']
df_2017 = pd.read_csv('data\hmda_2017_nationwide_all-records_labels.csv',usecols = important_cols, nrows = 1000)
df_2017.head()

,respondent_id,agency_abbr,loan_type_name,property_type_name,loan_purpose_name,owner_occupancy_name,loan_amount_000s,preapproval_name,action_taken_name,msamd_name,...,lien_status_name,edit_status_name,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,75-2921540,HUD,Conventional,One-to-four family dwelling (other than manufa...,Refinancing,Owner-occupied as a principal dwelling,53.0,Not applicable,Application withdrawn by applicant,Philadelphia - PA,...,Secured by a first lien,NaN,NaN,3202.0,97.279999,57400.0,47.540001,710.0,1314.0,NaN
1,0000504713,CFPB,Conventional,One-to-four family dwelling (other than manufa...,Refinancing,Owner-occupied as a principal dwelling,168.0,Not applicable,Application denied by financial institution,"Spokane, Spokane Valley - WA",...,Secured by a first lien,NaN,NaN,3733.0,4.580000,63900.0,86.239998,861.0,1241.0,NaN
2,7810600004,HUD,Conventional,One-to-four family dwelling (other than manufa...,Refinancing,Owner-occupied as a principal dwelling,103.0,Not applicable,File closed for incompleteness,Salt Lake City - UT,...,Secured by a first lien,NaN,NaN,5498.0,37.919998,75400.0,63.939999,1270.0,1658.0,NaN
3,42-1739728,HUD,Conventional,One-to-four family dwelling (other than manufa...,Refinancing,Not owner-occupied as a principal dwelling,88.0,Not applicable,Loan originated,Springfield - MO,...,Secured by a first lien,NaN,NaN,3566.0,11.830000,55200.0,74.290001,573.0,1261.0,NaN
4,42-1739728,HUD,Conventional,One-to-four family dwelling (other than manufa...,Refinancing,Owner-occupied as a principal dwelling,90.0,Not applicable,Application withdrawn by applicant,"Chicago, Naperville, Arlington Heights - IL",...,Secured by a first lien,NaN,NaN,2910.0,48.660000,77500.0,79.250000,599.0,26.0,NaN

In [18]:
cols_to_remove = ['as_of_year','agency_name','agency_code','loan_type',
'property_type', 'loan_purpose','owner_occupancy','preapproval',
'action_taken','msamd','state_name','state_code','county_code', 'applicant_ethnicity',
'co_applicant_ethnicity','applicant_race_1','applicant_race_2','applicant_race_3','applicant_race_4',
'applicant_race_5','co_applicant_race_1','co_applicant_race_2','co_applicant_race_3',
'co_applicant_race_4','co_applicant_race_5','applicant_sex','co_applicant_sex','purchaser_type','denial_reason_1',
'denial_reason_2','denial_reason_3','hoepa_status','lien_status','edit_status']

cleaned_2017_df = df_2017.drop(columns = cols_to_remove,axis = 1)
cleaned_2017_df.columns

Index(['respondent_id', 'agency_abbr', 'loan_type_name', 'property_type_name',
       'loan_purpose_name', 'owner_occupancy_name', 'loan_amount_000s',
       'preapproval_name', 'action_taken_name', 'msamd_name', 'state_abbr',
       'county_name', 'census_tract_number', 'applicant_ethnicity_name',
       'co_applicant_ethnicity_name', 'applicant_race_name_1',
       'applicant_race_name_2', 'applicant_race_name_3',
       'applicant_race_name_4', 'applicant_race_name_5',
       'co_applicant_race_name_1', 'co_applicant_race_name_2',
       'co_applicant_race_name_3', 'co_applicant_race_name_4',
       'co_applicant_race_name_5', 'applicant_sex_name',
       'co_applicant_sex_name', 'applicant_income_000s', 'purchaser_type_name',
       'denial_reason_name_1', 'denial_reason_name_2', 'denial_reason_name_3',
       'rate_spread', 'hoepa_status_name', 'lien_status_name',
       'edit_status_name', 'sequence_number', 'population',
       'minority_population', 'hud_median_family_income',
       'tract_to_msamd_income', 'number_of_owner_occupied_units',
       'number_of_1_to_4_family_units', 'application_date_indicator'],
      dtype='object')

In [26]:
df_2017.describe()

,loan_amount_000s,census_tract_number,applicant_race_name_4,applicant_race_name_5,co_applicant_race_name_3,co_applicant_race_name_4,co_applicant_race_name_5,applicant_income_000s,rate_spread,edit_status_name,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
count,999.000000,997.000000,0.0,0.0,0.0,0.0,0.0,922.000000,26.000000,0.0,0.0,997.000000,997.000000,997.000000,997.000000,997.000000,997.000000,0.0
mean,226.035035,1673.635396,NaN,NaN,NaN,NaN,NaN,111.365510,2.993077,NaN,NaN,5587.890672,38.326981,70835.406219,107.475527,1354.331996,1918.253761,NaN
std,261.960253,2646.579584,NaN,NaN,NaN,NaN,NaN,407.064038,1.836209,NaN,NaN,2784.092713,30.470477,12877.089652,42.582165,709.361121,976.545164,NaN
min,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,2.000000,1.510000,NaN,NaN,0.000000,0.000000,37900.000000,0.000000,0.000000,0.000000,NaN
25%,100.000000,102.140000,NaN,NaN,NaN,NaN,NaN,50.000000,1.645000,NaN,NaN,3788.000000,12.320000,62600.000000,80.949997,876.000000,1320.000000,NaN
50%,175.000000,313.130000,NaN,NaN,NaN,NaN,NaN,74.000000,1.985000,NaN,NaN,5190.000000,29.670000,73400.000000,101.050003,1241.000000,1744.000000,NaN
75%,280.500000,2108.040000,NaN,NaN,NaN,NaN,NaN,111.000000,4.315000,NaN,NaN,6655.000000,62.849998,75200.000000,126.690002,1711.000000,2276.000000,NaN
max,4250.000000,9782.000000,NaN,NaN,NaN,NaN,NaN,11390.000000,6.840000,NaN,NaN,38137.000000,100.000000,110800.000000,351.369995,9771.000000,11372.000000,NaN

In [27]:
df_2017.isnull().sum(axis = 0)

respondent_id                        0
agency_abbr                          0
loan_type_name                       0
property_type_name                   0
loan_purpose_name                    0
owner_occupancy_name                 0
loan_amount_000s                     1
preapproval_name                     0
action_taken_name                    0
msamd_name                          85
state_abbr                           0
county_name                          2
census_tract_number                  3
applicant_ethnicity_name             0
co_applicant_ethnicity_name          0
applicant_race_name_1                0
applicant_race_name_2              988
applicant_race_name_3              998
applicant_race_name_4             1000
applicant_race_name_5             1000
co_applicant_race_name_1             0
co_applicant_race_name_2           998
co_applicant_race_name_3          1000
co_applicant_race_name_4          1000
co_applicant_race_name_5          1000
applicant_sex_name                   0
co_applicant_sex_name                0
applicant_income_000s               78
purchaser_type_name                  0
denial_reason_name_1               783
denial_reason_name_2               957
denial_reason_name_3               994
rate_spread                        974
hoepa_status_name                    0
lien_status_name                     0
edit_status_name                  1000
sequence_number                   1000
population                           3
minority_population                  3
hud_median_family_income             3
tract_to_msamd_income                3
number_of_owner_occupied_units       3
number_of_1_to_4_family_units        3
application_date_indicator        1000
dtype: int64